projects/C#示例程序/金旭亮/net4源码/第24章 从面向对象到SOA/SourceCode/WCF服务版/MathService/UseMathWebService/Service References/localhost/MyCalculatorService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Calculator">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Expr" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculatorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CalculatorResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>